APP_NAME=Flood Backend
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000
DATABASE_URL=postgresql+psycopg://admin:admin@127.0.0.1:5433/flooddb
INFLUXDB_URL=http://localhost:8086

# Keycloak Configuration
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=flood-management
KEYCLOAK_CLIENT_ID=flood-frontend
KEYCLOAK_JWKS_URL=http://localhost:8080/realms/flood-management/protocol/openid-connect/certs
OIDC_DISCOVERY_URL=http://localhost:8080/realms/flood-management/.well-known/openid-configuration

